[submodule "D3D12TranslationLayer"]
	path = D3D12TranslationLayer
	url = ../D3D12TranslationLayer.git
[submodule "OpenCL-Headers"]
	path = OpenCL-Headers
	url = ../../KhronosGroup/OpenCL-Headers.git
[submodule "wil"]
	path = wil
	url = ../../microsoft/wil.git
